<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Book</string>
		<key>color</key>
		<string>Gray</string>
		<key>icon</key>
		<string>book</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Daily Commodity</string>
		<key>color</key>
		<string>Yellow</string>
		<key>icon</key>
		<string>home</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Drug</string>
		<key>color</key>
		<string>Blue</string>
		<key>icon</key>
		<string>ambulance</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Emergency Goods</string>
		<key>color</key>
		<string>Red</string>
		<key>icon</key>
		<string>suitcase</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gift</string>
		<key>color</key>
		<string>Pink</string>
		<key>icon</key>
		<string>gift</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Grocery</string>
		<key>color</key>
		<string>Moss</string>
		<key>icon</key>
		<string>cutlery</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hobbies</string>
		<key>color</key>
		<string>Orange</string>
		<key>icon</key>
		<string>puzzlePiece</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kids</string>
		<key>color</key>
		<string>Green</string>
		<key>icon</key>
		<string>smileO</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kitchen</string>
		<key>color</key>
		<string>Purple</string>
		<key>icon</key>
		<string>coffee</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Software</string>
		<key>color</key>
		<string>Brown</string>
		<key>icon</key>
		<string>laptop</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tools</string>
		<key>color</key>
		<string>Default</string>
		<key>icon</key>
		<string>wrench</string>
	</dict>
	<dict>
		<key>name</key>
		<string>None</string>
		<key>color</key>
		<string>None</string>
		<key>icon</key>
		<string>circle</string>
	</dict>
</array>
</plist>
