<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Daiba</string>
		<key>latitude</key>
		<real>35.633013</real>
		<key>longitude</key>
		<real>139.779459</real>
		<key>radius</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Daizawa</string>
		<key>latitude</key>
		<real>35.653587</real>
		<key>longitude</key>
		<real>139.666319</real>
		<key>radius</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Shibuya</string>
		<key>latitude</key>
		<real>35.664717</real>
		<key>longitude</key>
		<real>139.699488</real>
		<key>radius</key>
		<integer>500</integer>
	</dict>
</array>
</plist>
